<section class="showcase">
    <div class="container">
        <div class="grid">
            <div class="grid-item-1">
                <div class="showcase-text">
                    <h1>Learn any digital skill of your choice today</h1>
                    <p class="supporting-text"> Over 30,000 students currently learn with us</p>
                </div>
                <div class="showcase-form">
                    <form action="">
                        <input type="email" placeholder="Enter your email address">
                        <input type="submit" class="btn" value="Start Learning">
                    </form>
                    <p class="little-info">Try out our free courses today. No risk, no credit card required</p>
                </div>
            </div>

            <div class="grid-item-2">
                <div class="image">
                    <img src="./images/transparent.png" alt="">
                </div>
            </div>
        </div>

    </div>
</section>

<section class="testimonials">
    <div class="container">
        <div class="testimonial grid-3">
            <div class="card">
                <div class="circle">
                    <img src="/images/water.png" alt="">
                </div>
                <h3>Aston</h3>
                <p>I have learnt web development using this platform and I am going to say this is the best platform for
                    learning. Absolutely
                    worth the investment!</p>
            </div>
            <div class="card">
                <div class="circle">
                    <img src="/images/water.png" alt="">
                </div>
                <h3>Beth</h3>
                <p>I have learnt copywriting using this platform and I am going to say this is the best platform for
                    learning. Absolutely
                    worth the investment!</p>
            </div>
            <div class="card">
                <div class="circle">
                    <img src="/images/water.png" alt="">
                </div>
                <h3>Chris</h3>
                <p>I have learnt affilitate marketing using this platform and I am going to say this is the best
                    platform for learning. Absolutely
                    worth the investment!</p>
            </div>
        </div>
    </div>
</section>